wheel==0.36.2
django==3.1.7
psycopg2==2.8.6
django-extensions==3.1.1
django-cors-headers==3.7.0
djangorestframework==3.12.2
markdown==3.3.4
django-filter==2.4.0
scrapy==2.4.1
wfastcgi==3.0.0
scrapy-djangoitem==1.1.1
pillow==8.1.1
js2xml==0.4.0
scrapy-selenium==0.0.7
scrapyd==1.2.1
python-scrapyd-api==2.1.2
python-dotenv==0.15.0
python-memcached==1.59
django-admin-list-filter-dropdown==1.0.3
gunicorn==20.0.4