wheel
django
psycopg2
django-extensions
django-cors-headers
djangorestframework
markdown
django-filter
scrapy
wfastcgi
scrapy-djangoitem
pillow
js2xml
scrapy-selenium
scrapyd
python-scrapyd-api
python-dotenv
python-memcached
django-admin-list-filter-dropdown
gunicorn
python-slugify
django-admin-rangefilter
django-sendgrid-v5
google-auth
facebook-sdk
django-crispy-forms
django-rest-framework-social-oauth2
django-rest-authemail